<div class="mx-auto col-8">
    <h1 class="display-3 text-center p-5">Evan's Blog</h1>
    <div class="container mx-auto">
        <div class="card">
            <div class="card-header"><h3>This one is real no foolin'</h3></div>
            <div class="card-body">
                <h5 class="card-title">November 20, 2019 4:15 PM</h5>
                <p class="card-text">I lied! It's still a fake post but I want to have a couple of example posts so I could navigate between them and have the dropdown blog link work.</p>
                <div class="text-right">
                    <a href="/blog/1">Next <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>