<div class="col-8 mx-auto">
    <h1 class="display-3 text-center p-5">Evan's Blog</h1>
    <div class="container mx-auto">
        <div class="card">
            <div class="card-header"><h3><a href="/blog/1 ">November 21, 2019</a></h3></div>
            <div class="card-body"><blockquote class="blockquote mb-0">Test Post</blockquote></div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="card">
            <div class="card-header"><h3><a href="/blog/2">November 20, 2019</a></h3></div>
            <div class="card-body"><blockquote class="blockquote mb-0">This one is real no foolin'</blockquote></div>
        </div>
    </div>
</div>