<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.imgur.com/g7UsPnn.jpg" class="img-fluid" alt="On the Rock of Gibraltar!">
      <div class="carousel-caption d-none d-md-block bg-dark col-4 mx-auto rounded">
      <h5>2019 in Review</h5>
      <p>Kelsey and me on the Rock of Gibraltar!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/X5fkl8P.jpg" class="img-fluid" alt="Wrigley Field!">
      <div class="carousel-caption d-none d-md-block bg-dark col-4 mx-auto rounded">
      <h5>2019 in Review</h5>
      <p>Kelsey and me at Wrigley Field!</p>
    </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/dsQL5OM.jpg" class="img-fluid" alt="Black Sand Beach in Hawaii!">
      <div class="carousel-caption d-none d-md-block bg-dark col-4 mx-auto rounded">
      <h5>2019 in Review</h5>
      <p>Kelsey and me at Waianapanapa Black Sand Beach in Hawaii!</p>
    </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/YtPj7Sm.jpg" class="img-fluid" alt="Highest Point in AZ!">
      <div class="carousel-caption d-none d-md-block bg-dark col-4 mx-auto rounded">
      <h5>2019 in Review</h5>
      <p>Kelsey and me on Humphreys Peak in Flagstaff, AZ!</p>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
</div>

<div class="bg-dark text-light p-5">
    <div class="container">
      <h4 class="mb-4">About me</h4>
      <p >Hello! My name is Evan Speciale and I'm a Computer Science student in Oregon State University's Post-Baccalaureate Program. I've always been interested in computers and technology, but it took me getting my BS in Biochemistry (Why?) and my JD (extreme WHY??) to figure out that I want to do it as a career! I'm glad I figured it out eventually though because it makes a HUGE difference to work toward something you're actually passionate about. I plan to finish the program in Summer 2020 and pursue a full-time career as a Software Engineer in my home state of AZ. Hit me up if you'd like to hire a fast learner with seriously good looking-stuff-up skills!</p>
    </div>
</div>
<div class="bg-light text-dark p-5" >
  <div class="table-responsive" style="height: 250px">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Project</th>
            <th scope="col">Description</th>
            <th scope="col">Technologies</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://github.com/EvanSpeciale/cs162_final_project">Escape from LV-426</a></td>
            <td>An Alien-inspired navigation and escape room game</td>
            <td>C++</td>
          </tr>
          
          <tr>
            <td><a href="https://github.com/EvanSpeciale/cs162_zoo_sim">Zoo Simulator 2k19</a></td>
            <td>A zoo management simulator which asks the player to buy animals and stay in the black</td>
            <td>C++</td>
          </tr>
          <tr>
            <td><a href="https://github.com/EvanSpeciale/cs162_battle_sim">Fantasy Battle Simulator 2k19</a></td>
            <td>Choose your fighters and roll the dice to see who is victorious!</td>
            <td>C++</td>
          </tr>
          <tr>
            <td><a href="https://github.com/EvanSpeciale/cs162_ant_sim">Langton's Ant Sim 2k19</a></td>
            <td>Set the parameters for this Langton's Ant simulation and watch it run</td>
            <td>C++</td>
          </tr>
          <tr>
            <td><a href="https://github.com/EvanSpeciale/cs290_final_project">Personal Website</a></td>
            <td>A personal website that you're looking at right now!</td>
            <td>HTML, CSS, JavaScript, Bootstrap 4</td>
          </tr>
          <tr>
            <td><a href="https://github.com/EvanSpeciale/CS_340_FP">Hogwarts HeadMaster Database</a></td>
            <td>View and manipulate the Hogwarts student and faculty database (<a href="https://cs-340-fp.herokuapp.com/">link</a>)</td>
            <td>HTML, CSS, JavaScript, Bootstrap 4, MySQL</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>