<article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left shadow-lg container mt-4 mb-4 border border-dark px-0 rounded">
		    <header class="resume-header pt-4 pt-md-0 border-bottom border-dark bg-dark">
			    <div class="media flex-column flex-md-row" >
				    <img class="mr-3 img-fluid picture mx-auto" src="https://i.imgur.com/nuZ87JE.jpg" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase display-4">Evan Speciale</h1>
						    <div class="title mb-3 text-white">Aspiring Software Engineer</div>
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>evspeciale@gmail.com</a></li>
							    <li class="mb-2"><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>(480) 695-0208</a></li>
                                <li><a href="../public/Evan Speciale Resume.pdf" download><i class="fas fa-file-download fa-fw mr-2" data-fa-transform="grow-3"></i>Download PDF</a></li>
						    </ul>
					    </div><!--//primary-info-->
					    
					    
				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body px-5 pt-5 bg-light text-dark">
			    
			    <div class="row">
				    <div>
					    <section class="resume-section experience-section mb-5">
						    <h3 class="resume-section-title text-uppercase font-weight-normal pb-3 mb-3 border-bottom border-dark">Education</h3>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h4 class="resume-position-title font-weight-bold mb-1">Oregon State University College of Engineering</h4>
										        <div class="resume-company-name ml-auto">Corvallis, OR</div>
										    </div><!--//row-->
										    <div class="resume-position-time font-italic">Bachelor's of Science in Computer Science</div>
                                            <div class="resume-position-time">Coursework Ongoing, Expected Graduation Aug '20</div>
                                            <div class="resume-position-time">GPA: 4.0</div>
                                        </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <h5 class="resume-timeline-item-desc-heading font-weight-bold">Courses:</h5>
                                            <ul>
                                                <li>Intro to CS I & II</li>
                                                <li>Discrete Structures</li>
                                                <li>Computer Architecture and Assembly (x86)</li>
                                                <li>Data Structures</li>
                                                <li>Web Development</li>
                                                <li>Intro to Databases</li>
                                            </ul>
										    <h5 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h5>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-success badge-pill">C/C++</span></li>
											    <li class="list-inline-item"><span class="badge badge-success badge-pill">HTML</span></li>
											    <li class="list-inline-item"><span class="badge badge-success badge-pill">CSS</span></li>
											    <li class="list-inline-item"><span class="badge badge-success badge-pill">JavaScript</span></li>
											    <li class="list-inline-item"><span class="badge badge-success badge-pill">Node.js</span></li>
											    <li class="list-inline-item"><span class="badge badge-success badge-pill">MySQL</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
                                    
                                    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h4 class="resume-position-title font-weight-bold mb-1">The University of Arizona, James E. Rogers College of Law</h4>
										        <div class="resume-company-name ml-auto">Tucson, AZ</div>
										    </div><!--//row-->
										    <div class="resume-position-time font-italic">Juris Doctor</div>
                                            <div class="resume-position-time">May 2017</div>
                                            <div class="resume-position-time">GPA: 3.53</div>
                                        </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										     <h5 class="resume-timeline-item-desc-heading font-weight-bold"><em>Arizona Law Journal of Emerging Technologies</em>:</h5>
                                            <ul>
                                                <li>Chief Legal Editor 2015-16</li>
                                                <li>Chief Publication Editor 2016-17</li>
                                                <li>Founding Member</li>
                                            </ul>
                                            <h5 class="resume-timeline-item-desc-heading font-weight-bold">Courses:</h5>
                                            <ul>
                                                <li>Patent Law</li>
                                                <li>Patent Litigation</li>
                                                <li>Patent Practice</li>
                                                <li>IP Survey</li>
                                                <li>Cyberlaw</li>
                                                <li>Trademarks</li>
                                            </ul>
                                            <h5 class="resume-timeline-item-desc-heading font-weight-bold">Activities:</h5>
                                            <ul>
                                                <li>AIPLA Giles Sutherland Rich Moot Court Competition</li>
                                                <li>Arizona Intellectual Property and Cyberlaw Society - Vice President 2014-16</li>
                                            </ul>
									    </div><!--//resume-timeline-item-desc-->
                                        
								    </article><!--//resume-timeline-item-->
                                    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h4 class="resume-position-title font-weight-bold mb-1">Arizona State University</h4>
										        <div class="resume-company-name ml-auto">Tempe, AZ</div>
										    </div><!--//row-->
										    <div class="resume-position-time font-italic">Bachelor's of Science in Biochemistry</div>
                                            <div class="resume-position-time">May 2014</div>
                                            <div class="resume-position-time">GPA: 3.43</div>
                                        </div><!--//resume-timeline-item-header-->
									    

								    </article><!--//resume-timeline-item-->
								    
								    <h3 class="resume-section-title text-uppercase font-weight-normal pb-3 mb-3 border-bottom border-dark">Work Experience</h3>
                                    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Research Attorney</h3>
										        <div class="resume-company-name ml-auto">NATLAW</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2017-18</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Researched and assessed the implementation and efficacy of various commercial law practices including secured transactions law reform, blockchain, prudential regulation, collateral registration, and SME finance programs.</p>
										   										   
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
                                    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Legal Intern</h3>
										        <div class="resume-company-name ml-auto">Calimmune, Inc.</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2016-17</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Worked with in-house counsel to develop filing system for patents and trademarks; organized patent backlog. Developed system for projecting patent costs for domestic and international filings. Developed in-house training presentations on patents and trademarks.</p>
										   										   
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    
								   	<article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Tech Transfer Student Fellow</h3>
										        <div class="resume-company-name ml-auto">Tech Launch Arizona</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2015-16</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Researched patent and market landscape for University-funded discoveries and inventions. Assessed inventions in fields of medical, health, life, plant sciences, chemistry, and biochemistry.</p>
										   										   
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    
							    </div><!--//resume-timeline-->
							    </div>
					    </section><!--//experience-section-->
				    </div>
				    		   					    
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
		   		    
	    </div>
    </article>  